.paragraph {
    color: black;
}
.container {
    display: flex;
    gap: 15px;
}
.moving-box {
    width: 80px;
    height: 80px;
    background: black;
    animation: moveBox 3s infinite;
}
.text:hover {
        color: white;
        background-color: black;
}
@media screen and (max-width: 500px){
    .paragraph {
        color: blue;
    }
}

@media screen and (max-width: 600px) {
    .container {
        flex-direction: column;
    }
}

@keyframes moveBox {
    from {
        tranform: translateX(0);
    }
    to {
        transform: translateX(500px);
    }
}